.slider {
    position: relative;
    padding-top: 72px;
    display: flex;
    justify-content: center;
    align-items: center;

    .left-arrow {
        position: absolute;
        top: 50%;
        background-color: black;
        left: 20px;
        width: 30px;
        height: 30px;
    }

    .right-arrow {
        position: absolute;
        background-color: black;
        top: 50%;
        right: 20px;
        width: 30px;
        height: 30px;
    }

    .slide-image {
        width: calc(100vw - 17px);
        height: 750px;
    }
}



