.slider {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .left-arrow {
        position: absolute;
        top: 50%;
        background-color: black;
        left: 10px;
        width: 30px;
        height: 30px;
    }

    .right-arrow {
        position: absolute;
        background-color: black;
        top: 50%;
        right: 10px;
        width: 30px;
        height: 30px;
    }

    .slide-image {
        background-position: center;
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 600px;
    }
}



